.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.ul {
  list-style: none;
}

li {
  list-style-type: none;
}

.h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0%;
}

/*intex.html+header+footer*/
.page {
  color: var(--color-page);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7142857143;
}

:root {
  --logo-color: #2196f3;
  --header-logo-color: #000000;
  --logo-footer-color: #ffffff;
  --color-type-a: #2196f3;
  /*--color-type-a: navlink: hover,focus; curent; 
  contact: hover, focus; btn: hover,focus; 
  btn-section-hero: background*/
  --color-type-b: #212121;
  /*--color-type-b: navlink; btn; titel; features;
  team; team-person-name; work-item*/
  --color-type-c: #f5f4fa;
  /*--color-type-c: btn-section-hero; btn: background-color;
  btn-section-hero;  */
  --color-footer-background: #2f303a;
  --color-hero-background: #2f303a;
  --color-page: #757575;
  --color-adress-contact: rgba(255, 255, 255, 0.6);
  --color-border-card: #eeeeee;
  /*flexbox*/
  --container-width: 1200px;
  --work-card: 30px;
  --width-work-pictuares: 368px;
}

.container {
  width: var(--container-width);
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  /*outline: 1px solid tomato;*/
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header {
  border-bottom: 1px;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.logo {
  margin-right: 93px;
  color: var(--logo-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
}

.header-logo-color {
  color: var(--header-logo-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
}

.container-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.site-navn {
  width: 281px;
  gap: 50px;
}

.site-nav__nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--color-type-b);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__nav-link:hover, .site-nav__nav-link:focus {
  color: var(--color-type-a);
}

.curent {
  color: var(--color-type-a);
}

.site-nav__div-curent {
  display: block;
  position: relative;
}
.site-nav__div-curent::after {
  content: "";
  left: 0;
  bottom: -33px;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-type-a);
  /*opacity: 0;
  /*transform: scaleX(0);*/
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 292px;
}

.container-contact__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*justify-content: center;*/
  color: var(--color-page);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.container-contact__contact:hover {
  color: var(--color-type-a);
  fill: var(--color-type-a);
}
.container-contact__contact:focus {
  color: var(--color-type-a);
  fill: var(--color-type-a);
}
.container-contact__contact:hover .container-contact__contact-mail {
  fill: var(--color-type-a);
}
.container-contact__contact:focus .container-contact__contact-mail {
  fill: var(--color-type-a);
}
.container-contact__contact:hover .container-contact__contact-tlf {
  fill: var(--color-type-a);
}
.container-contact__contact:focus .container-contact__contact-tlf {
  fill: var(--color-type-a);
}

.container-contact__contact-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-contact__contact-mail {
  fill: var(--color-page);
  margin-right: 10px;
}

.container-contact__contact-tlf {
  fill: var(--color-page);
  margin-right: 10px;
}

.section-hero {
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main/herobg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/herobg.jpg);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-repeat: no-repeat;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--color-hero-background);
}

.section-hero__hero {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--logo-footer-color);
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 4px;
}

.btn-section-hero {
  color: var(--color-type-c);
  background-color: var(--color-type-a);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border: transparent;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--logo-footer-color);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.modal__btn {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
}

.modal__svg-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--header-logo-color);
  width: 11px;
  height: 11px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover .modal__svg-btn {
  fill: var(--color-type-a);
}

.register-form {
  padding: 40px;
}

.register-form__titel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-type-b);
}

.register-form__label:not(:last-child) {
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.register-form__field {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--color-page);
}

.register-form__group {
  margin-bottom: 20px;
}

.register-form__input {
  width: 100%;
  height: 40px;
  padding-right: 38px;
  padding-left: 38px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.register-form__input:focus {
  border-color: var(--color-type-a);
}
.register-form__input:focus + .register-form__icon {
  fill: var(--color-type-a);
}

.register-form__icon {
  position: absolute;
  bottom: 14px;
  left: 12px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form__message {
  display: block;
  width: 100%;
  resize: none;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 18px;
}
.register-form__message::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.register-form__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.register-form__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.register-form__checkbox {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.register-form__agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.icon-checked {
  opacity: 0;
  fill: var(--color-type-a);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form__checkbox:checked + .register-form__icons .icon-checked {
  opacity: 1;
}

.icon-unchecked {
  padding-left: 51px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.register-form__checkbox:checked + .register-form__icons .icon-unchecked {
  opacity: 0;
}

.register-form__checkbox:focus + .register-form__icons {
  outline: 2px solid rgb(56, 87, 107);
  outline-offset: 1px;
  border-radius: 2px;
}

.register-form__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.register-form__link {
  color: var(--color-type-a);
}

.register-form__btn {
  display: block;
  margin: auto;
  cursor: pointer;
}

.benefits-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-features {
  padding-top: 0;
  padding-bottom: 94px;
}

.item-benefits__div-icons-titel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--color-type-c);
  /*box-shadow: rgba(0, 0, 0, 0.25);*/
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
}

.item-benefits__icons-titel {
  fill: var(--color-type-b);
}

.benefits-titel {
  width: 270px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-type-b);
}

.benefits-titel__text {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

/*main seaction features*/
.container-features {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-type-b);
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.features-list__item {
  position: relative;
}

.features-item > .pictures-text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-footer-color);
}

/*main seaction team*/
.section-team {
  background-color: var(--color-type-c);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-type-b);
}

.container-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.team-list__item {
  background-color: var(--logo-footer-color);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team__name {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__person-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-type-b);
}

.team__text {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team__social-link:hover .team__social-icon {
  fill: var(--color-type-c);
}
.team__social-link:focus .team__social-icon {
  fill: var(--color-type-c);
}
.team__social-link:hover {
  background-color: var(--color-type-a);
}
.team__social-link:focus {
  background-color: var(--color-type-a);
}

.team__social-icon {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-icon {
  fill: rgb(175, 177, 184);
}

/*Client*/
.container-client__link {
  width: 170px;
  height: 92px;
}

.container-client__logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  outline: transparent;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  -webkit-transition-property: background-color, fill-color, border-color;
  transition-property: background-color, fill-color, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.container-client__logo-link:hover {
  border: 1px solid var(--color-type-a);
}
.container-client__logo-link:focus {
  border: 1px solid var(--color-type-a);
}
.container-client__logo-link:hover .container-client__logo {
  fill: var(--color-type-a);
}
.container-client__logo-link:focus .container-client__logo {
  fill: var(--color-type-a);
}

.container-client__logo {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-titel {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-type-b);
}

.container-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.container-client__logo {
  fill: rgb(175, 177, 184);
}

/*Portfolio btn*/
.heading__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.btn {
  border: transparent;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border-radius: 4px;
  color: var(--color-type-b);
  background-color: var(--color-type-c);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--logo-footer-color);
  background-color: var(--color-type-a);
  cursor: pointer;
}

/*main.section/work*/
.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--work-card);
}

.work__card {
  -ms-flex-preferred-size: calc((100% - 2 * var(--work-card)) / 3);
      flex-basis: calc((100% - 2 * var(--work-card)) / 3);
  margin: 0;
  border: 1px solid var(--color-border-card);
  border-top: none;
}

.work__thumb {
  position: relative;
  overflow: hidden;
}

.work__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work__overlay-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--logo-footer-color);
}

.work__link {
  display: inline-block;
  text-decoration: none;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.work__link:hover .work__overlay {
  -webkit-transform: translate(0);
          transform: translate(0);
}
.work__link:focus .work__overlay {
  -webkit-transform: translate(0);
          transform: translate(0);
}
.work__link:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.work__link:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.work__pictuares {
  width: var(--width-work-pictuares);
}

.work__titel {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.work__item {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-type-b);
}

.work__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--color-page);
}

/*Footer*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-footer-background);
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.logo2 {
  color: var(--logo-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
}

.logo-footer {
  margin-bottom: 20px;
}

.adress-footer {
  padding-left: 0px;
}

.container-footer__footer1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 70px;
}

.adress-footer__link {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.adress-footer__link:not(:last-child) {
  margin-bottom: 9px;
}

.logo-color {
  color: var(--logo-footer-color);
}

.adress {
  color: var(--logo-footer-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.adress-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--color-adress-contact);
}

.footer__social {
  margin-right: 93px;
}

.footer__text {
  margin-bottom: 20px;
  color: var(--color-type-c);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
}

.footer__social-media {
  width: 44px;
  height: 44px;
}

.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-link:hover {
  background-color: var(--color-type-a);
}
.footer__social-link:focus {
  background-color: var(--color-type-a);
}

.footer__social-icon {
  fill: var(--color-type-c);
}

.subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 12px;
}

.subscription__titel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-footer-color);
}

.subscription__box {
  outline: transparent;
  border-radius: 4px;
  width: 358px;
  height: 50px;
  background-color: var(--color-footer-background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--color-type-c);
}

.subscription__btn {
  gap: 10px;
  cursor: pointer;
}

.heading {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */