:root {
  --logo-color: #2196f3;
  --header-logo-color: #000000;
  --logo-footer-color: #ffffff;
  --color-type-a: #2196f3;
  /*--color-type-a: navlink: hover,focus; curent; 
contact: hover, focus; btn: hover,focus; 
btn-section-hero: background*/
  --color-type-b: #212121;
  /*--color-type-b: navlink; btn; titel; features;
team; team-person-name; work-item*/
  --color-type-c: #f5f4fa;
  /*--color-type-c: btn-section-hero; btn: background-color;
btn-section-hero;  */
  --color-footer-background: #2f303a;
  --color-hero-background: #2f303a;
  --color-page: #757575;
  --color-adress-contact: rgba(255, 255, 255, 0.6);
  --color-border-card: #eeeeee;
  /*flexbox*/
  --container-width: 1200px;
  --work-card: 30px;
  --width-work-pictuares: 368px;
}
/*intex.html+header+footer*/
.page {
  color: var(--color-page);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: calc(24 / 14);
}
.link {
  text-decoration: none;
}
.container {
  width: var(--container-width);
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.ul {
  list-style: none;
}
.h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0%;
}
/*header*/
.container-header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header {
  border-bottom: 1px;
}
.logo {
  /*padding-top: 24px;*/
  margin-right: 93px;
  color: var(--logo-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}
.header-logo-color {
  color: var(--header-logo-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}
li {
  list-style-type: none;
}
.container-nav {
  display: flex;
  /*justify-content: flex-start;
  margin-right: 93px;*/
}
.container-link {
  display: flex;
  margin: 0;
  align-items: center;
  /*justify-content: center;*/
  gap: 50px;
}
.site-navn {
  width: 281px;
  gap: 50px;
}
.nav-link {
  display: flex;
  align-items: center;
  /*padding-top: 32px;
  padding-bottom: 32px;*/
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-type-b);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--color-type-a);
}
.curent {
  color: var(--color-type-a);
}
.list {
  list-style: none;
}
.container-contact {
  display: flex;
  gap: 50px;
  justify-content: flex-end;
  align-items: center;
  margin-left: 344px;
}
.contact {
  display: flex;
  /*padding-top: 32px;
  padding-bottom: 32px;*/
  color: var(--color-page);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}
.tlf {
  width: 122px;
}
.contact:hover,
.contact:focus {
  color: var(--color-type-a);
}
/*main section hero*/
.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--color-hero-background);
}
.hero {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--logo-footer-color);
}
.button {
  display: flex;
  justify-content: space-around;
  border-radius: 4px;
}
.btn-section-hero {
  color: var(--color-type-c);
  background-color: var(--color-type-a);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
/*Portfolio btn*/
.btn-filter {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 34px;
}
.btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border-radius: 4px;
  color: var(--color-type-b);
  background-color: var(--color-type-c);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.btn:hover,
.btn:focus {
  color: var(--logo-footer-color);
  background-color: var(--color-type-a);
  cursor: pointer;
}
.heading {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-titel-list {
  display: flex;
  gap: 30px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-features {
  padding-top: 0;
  padding-bottom: 94px;
}
.section-titel {
  width: 270px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-type-b);
}
.section-item {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
/*main seaction features*/
.container-features {
  display: block;
  justify-content: center;
}
.features {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-type-b);
}
.container-features-item {
  display: flex;
  gap: 30px;
}
.features-item {
}
.pictures {
}
/*main seaction team*/
.section-team {
  background-color: var(--color-type-c);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.team {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-type-b);
}
.container-team {
  display: flex;
  gap: 30px;
}
.team-list {
}
.team-name {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-person-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-type-b);
}
.team-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}
.footer {
  text-align: left;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-footer-background);
}
.logo-footer {
  margin-bottom: 20px;
}
.adress-footer {
  padding-left: 0px;
}
.adress-link {
  justify-content: flex-start;
}
.adress-link:not(:last-child) {
  margin-bottom: 9px;
}
.logo-color {
  color: var(--logo-footer-color);
}
.adress {
  color: var(--logo-footer-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
.adress-contact {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--color-adress-contact);
}
/*portfolio.html*/
/*main.section.filtr*/
.filter {
  visibility: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*main.section/work*/
.work {
  display: flex;
  flex-wrap: wrap;
  gap: var(--work-card);
}
.card {
  flex-basis: calc((100% - 2 * var(--work-card)) / 3);
  margin: 0;
  border-right: 1px solid var(--color-border-card);
  border-bottom: 1px solid var(--color-border-card);
  border-left: 1px solid var(--color-border-card);
}
.work-pictuares {
  width: var(--width-work-pictuares);
}
.work-titel {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.work-item {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--color-type-b);
}
.work-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--color-page);
}
