@import './base/reset';
@import './base/base';
@import './base/container';
@import './base/seaction';

@import './components/header';
@import './components/hero';
@import './components/backdrop';
@import './components/benefits';
@import './components/features';
@import './components/team';
@import './components/client';
@import './components/portfolio-filter';
@import './components/work';
@import './components/footer';
@import './components/subscription';
@import './components/social';

@import './utils/variables';
@import './utils/placeholder';