
.benefits {
    display: flex;
    gap: 30px;
}

.benefits__icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-type-c);
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
}

.benefits__icon {
    fill: var(--color-type-b);
}

.benefits__titel {
    width: 270px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-type-b);
}

.benefits__text {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}