/*Footer*/
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--color-footer-background);
}
.container-footer {
    display: flex;
    align-items: baseline;
}

.footer__logo {
    margin-bottom: 20px;
}
.adress {
    padding-left: 0px;
}
.footer__box {
    flex-grow: 1;
    margin-right: 70px;
}
.adress__item {
    justify-content: flex-start;
}
.adress__link:not(:last-child) {
    margin-bottom: 9px;
}
.logo__white {
    color: var(--logo-footer-color);
}
.adress__link {
    color: var(--logo-footer-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}

.footer__social-box {
    margin-right: 88px;
}
.footer__text {
    margin-bottom: 20px;
    color: var(--color-type-c);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

