.subscription {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 12px;
  }
}
.subscription__label {
  @media screen and (max-width: 1199px) {
    display: block;
    margin-bottom: 20px;
  }
}
.subscription__titel {
  display: flex;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-footer-color);
  @media screen and (max-width: 1199px) {
    display: block;
    text-align: center;
  }
}
.subscription__input {
  outline: transparent;
  border-radius: 4px;
  height: 50px;
  background-color: var(--color-footer-background);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--color-type-c);
  @media screen and (max-width: 767px){
   width: 100%;
  }
   @media screen and (min-width: 768px){
      width: 450px;
    }
        @media screen and (min-width: 1200px){
     width: 358px;
        }
  
}

.subscription__btn {
  gap: 10px;
  cursor: pointer;
  @media screen and (max-width: 1199px) {
    margin: auto;
  }
}
