/*main.section/work*/
.work {
    display: flex;
    flex-wrap: wrap;
    gap: var(--work-card);
}
.work__card {
    flex-basis: calc((100% - 2 * var(--work-card)) / 3);
    margin: 0;
    border: 1px solid var(--color-border-card);
    border-top: none;
}
.work__thumb {
    position: relative;
    overflow: hidden;
}
.work__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-left: 24px;
    background: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



.work__overlay-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--logo-footer-color);
}

.work__link {
    display: inline-block;
    text-decoration: none;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover .work__overlay {
            transform: translate(0);
        }
        &:focus .work__overlay {
            transform: translate(0);
        }
        &:hover {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
        &:focus {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
}
.work__pictuares {
    width: var(--width-work-pictuares);
}
.work__titel {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
}
.work__item {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--color-type-b);
}
.work__text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--color-page);
}