:root {
    --logo-color: #2196f3;
    --header-logo-color: #000000;
    --logo-footer-color: #ffffff;
    --color-type-a: #2196f3;
    /*--color-type-a: navlink: hover,focus; curent; 
contact: hover, focus; btn: hover,focus; 
btn-section-hero: background*/
    --color-type-b: #212121;
    /*--color-type-b: navlink; btn; titel; features;
team; team-person-name; work-item*/
    --color-type-c: #f5f4fa;
    /*--color-type-c: btn-section-hero; btn: background-color;
btn-section-hero;  */
    --color-footer-background: #2f303a;
    --color-hero-background: #2f303a;
    --color-page: #757575;
    --color-adress-contact: rgba(255, 255, 255, 0.6);
    --color-border-card: #eeeeee;
    /*flexbox*/
    --container-width: 1200px;
    --work-card: 30px;
    --width-work-pictuares: 368px;
}