.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section__titel {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-type-b);
}
.section__other-background {
    background-color: var(--color-type-c);
}
.section-non-padding-top {
    padding-top: 0;
    padding-bottom: 94px;
}